.gribs{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: var(--gradient);
  padding: 20px;
}
.gribs__lessonName{
  background-color: var(--base-color-2);
  color: var(--base-color-1);
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
}
.youtube{
  background-color: rgb(171, 32, 32);
  color: white;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
}